body {
    background-color: lightsalmon;
}

a {
    font-size: 24px;
    color: peru;
    font-family: perpetua;
    background-color: lightsalmon
}
h1 {
    font-size: 36px;
    color: peru;
    font-family: perpetua;
    background-color: lightsalmon
}
ul {
    font-size: 24px;
    color: peru;
    font-family: perpetua;
    background-color: lightsalmon
}